extends layout

block content
    .container.mt4
        h1.center Decide ce idei sunt finantate si ce povesti sunt spuse
    .container
        .row.mt4
            each item in stories
                .col-sm-3
                    .card
                        a(href="/story/"+item._id)
                            img.card-img-top.img-responsive(src='/content/img/'+item._id+'.jpg', alt=item.title)
                        .card-block
                            a(href="/story/"+item._id)
                                h4.card-title #{item.title}
                            p.card-text
                                | #{item.description}
                                a(href="/story/"+item._id)  Citeste mai mult
                            if typeof item.status != 'undefined' && item.status != 'new'
                                .progress.mt2
                                    .progress-bar(role='progressbar', aria-valuenow=item.progress, aria-valuemin='0', aria-valuemax='100', style='width: '+item.progress+'%;')
                                        span.sr-only #{item.progress}% Complete
                                ul
                                    li #{item.funded}
                                    li #{item.backers}
                                    li $ #{item.fundingTarget}