extends layout


block content
    div
        h1 #{story.title}
        h4 Reported by ...
    .container
        .row
            .col-sm-6
                div 
                    img(src=story.picture )
            .col-sm-6
                p #{story.description}
                ul
                    li #{story.funded}
                    li #{story.backers}
                    li #{story.expires}
                div
                    a.btn.btn-default Recompensa
                    a.btn.btn-default Trimite documentatie

        .row
            .col-sm-12
                ul this is an inline list
                    li Description
                    li Backers
                    li Discussion
                    li Updates
