extends layout


block content
    #pay-modal.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Doneaza pentru #{story.title}
                .modal-body
                    p Introdu suma pe care doresti sa o donezi
                    .form-group
                        input#amount(type="number" value="100" name="amount")
                        span RON
                .modal-footer
                    button.btn.btn-primary(type='button', onclick="window.location = '/donate/"+story._id+"?amount='+document.getElementById('amount').value") Doneaza
                    button.btn.btn-default(type='button', data-dismiss='modal') Close

    div.pt4
        h1.center #{story.title}
        h4.center #{story.author.profile.name}
    .container.pt4
        .row
            .col-sm-10.col-sm-offset-1
                .card.p3
                    //- if story.picture
                    .card-block
                        .row
                            .col-sm-10.col-sm-offset-1
                                img.card-img-top.img-responsive.mx-auto(src='/content/img/'+story._id+'.jpg' || 'https://images.unsplash.com/photo-1413781892741-08a142b23dfe?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=3a75efbce264f08740d8a087540ab8c9', alt=story.title, style='max-height:480px')
                        .row
                            .col-sm-10.col-sm-offset-1
                                p.h2 Descriere
                                p.card-text #{story.description}
                        .row.mt2
                            .col-sm-10.col-sm-offset-1
                                .progress.mt2
                                    .progress-bar(role='progressbar', aria-valuenow=story.progress, aria-valuemin='0', aria-valuemax='100', style='width: '+story.progress+'%;')
                                        span.sr-only #{story.progress}% Complete
                        .row.mt2
                            .col-sm-10.col-sm-offset-1
                                .row
                                    .col-sm-4
                                        p.h6.gray RAISED
                                        p.mt2 $#{story.funded}
                                    .col-sm-4
                                        if story.backers
                                            p.h6.gray BACKERS
                                            p.mt2 #{story.backers}
                                    .col-sm-4
                                        p.h6.gray EXPIRES
                                        p.mt2 #{story.expires ? story.expires : '22/11/16'}
                        .row.mt3
                            .col-sm-6.col-sm-offset-3
                                div.flex.justify-around
                                    a.btn.white.bg-fuchsia.center(href="/vote-story/"+ story._id)
                                        i.fa.fa-heart
                                        | #{story.likes.length}
                                    a.btn.black.bg-yellow.center(href="#" data-toggle="modal" data-target="#pay-modal") Recompensa
                                    a.btn.btn-default.ml1 Trimite documentatie
                        .row.mt4
                            .col-sm-10.col-sm-offset-1
                                p.h2 Povestea
                                p.card-text !{story.content}
                        .row.mt2
                            .col-sm-10.col-sm-offset-1
                                #disqus_thread
                                script.
                                    var disqus_config = function () {
                                        this.page.url = canonicalUrl;  
                                        this.page.identifier = story._id;
                                    };
                                    
                                    (function() { // DON'T EDIT BELOW THIS LINE
                                    var d = document, s = d.createElement('script');
                                    s.src = '//csfnaicsf-cf.disqus.com/embed.js';
                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                    })();


